<a href="https://colab.research.google.com/github/jleacock2020/CourseraDataAnalystWork/blob/main/ListDataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What data structure is a list in Python?**
Lists in Python are implemented as dynamic mutable arrays which hold an ordered collection of items. First, in many programming languages, arrays are data structures that contain a collection of elements of the same data types (for instance, all elements are integers)

In [ ]:
L=[1,2,3,4]
print(L[2])
print(L[-2])

3
3

In [ ]:
fruits=['Apple','Banana','cherry','Orange']
print(L[2])

3

In [ ]:
studentdata=[12,'Joy',12,'9789363332',34.5]
print(studentdata[1])

Joy

In [ ]:
thislist = ["apple", "banana", "cherry"]

print(len(thislist))

# print(len(thislist))

3

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
#Access list items

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [ ]:
#Negative indexing

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

**List Slicing**

In [ ]:
#Range of Indexing
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist[4:])
print(thislist[-1:-4:-1])
print(thislist[::2])
print(thislist[::-1])
print(thislist[0:5:2])

['kiwi', 'melon', 'mango']
['mango', 'melon', 'kiwi']
['apple', 'cherry', 'kiwi', 'mango']
['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']
['apple', 'cherry', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-1:-4:-1])

['mango', 'melon', 'kiwi']

In [ ]:
#check if the item exist

thislist = ["apple", "banana", "cherry"]
X=input("Enter the furit name:")
X=X.lower()

if X in thislist:
  print("Yes, 'apple' is in the fruits list")
else:
  print("Not in the list")

Enter the furit name:APPLE
Yes, 'apple' is in the fruits list

In [ ]:
L=[12,34,56,78]
if 12 in L:
  print("yes")

yes

In [ ]:
#change item value
thislist = ["apple", "banana", "cherry"]
thislist[2] = "blackcurrant"
print(thislist)

['apple', 'banana', 'blackcurrant']

In [ ]:
#Change a range item values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

# 3 different ways of adding new elements to the list
1) insert()
2) extend()
3) append()

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist.insert(3,"WaterMelon")

print(thislist)

['apple', 'banana', 'cherry', 'WaterMelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist.extend(["Orange", "Strawberry"])
print(thislist)

['apple', 'banana', 'cherry', 'WaterMelon', 'orange', 'kiwi', 'mango', 'Orange', 'Orange', 'Strawberry']

In [ ]:
thislist.append(["Pear","Jackfruit"])
print(thislist)

['apple', 'banana', 'cherry', 'WaterMelon', 'orange', 'kiwi', 'mango', 'Orange', 'Orange', 'Strawberry', ['Pear', 'Jackfruit'], 'Pear', ['Pear', 'Plum'], 'Pear', ['Pear', 'Jackfruit']]

In [ ]:
print(thislist[10][0])

Pear

In [ ]:
L=[]
x=1
while x<=5:
  name=input("Enter the name:")
  L.append(name)
  x=x+1

print(L)

Enter the name:Geetu
Enter the name:Jasmine
Enter the name:Nancy
Enter the name:Arti
Enter the name:Samantha
['Geetu', 'Jasmine', 'Nancy', 'Arti', 'Samantha']

In [ ]:
#Dynamic List created using while loop and append() function

L=[]
choice="y"
while choice.lower()=="y":
  name=input("Enter the name of a student:")
  L.append(name)
  choice=input("Continue?(y/n):")

print(L)

Enter the name of a student:Geetu
Continue?(y/n):y
Enter the name of a student:Nancy
Continue?(y/n):y
Enter the name of a student:Guri
Continue?(y/n):y
Enter the name of a student:John
Continue?(y/n):n
['Geetu', 'Nancy', 'Guri', 'John']

In [ ]:
#insert()
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
#append()
thislist = ["apple", "banana", "cherry"]
thislist.append(["orange",'Guava'])
print(thislist)

['apple', 'banana', 'cherry', ['orange', 'Guava']]

In [ ]:
#extend()
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# 3 different ways of removing elements from a list

In [ ]:
#remove()
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
#pop()
thislist = ["apple", "banana", "cherry"]
thislist.pop(-1)
print(thislist)

['apple', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]

In [ ]:

thislist.pop()
print(thislist)

[]

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
#delete the entire list
thislist = ["apple", "banana", "cherry"]
del thislist   #deleted the entire list with its structure

print(thislist)

NameError: ignored

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
L=[23,34,56,44,56,99]
print(max(L))
print(min(L))
print(sum(L))

99
23
312

In [ ]:
L=[23,34,56,44,56,99]
L2=[34,34,56,56,77,55]

print(L+L2) #concatenating

[23, 34, 56, 44, 56, 99, 34, 34, 56, 56, 77, 55]

In [ ]:
print(L*3)  #Replicate your list

[23, 34, 56, 44, 56, 99, 23, 34, 56, 44, 56, 99, 23, 34, 56, 44, 56, 99]

**Sorting**

In [ ]:
#Sorting

L=[102,45,68,33,990,35]
L.sort(reverse=True)
print(L)

[990, 102, 68, 45, 35, 33]

In [ ]:
L=[102,45,68,33,990,35]
L.sort()
# sorted(L)
print(L)

[33, 35, 45, 68, 102, 990]

In [ ]:
#sort list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = ["apple", "banana", "cherry"]
newlist=thislist.copy()
print(newlist)

['apple', 'banana', 'cherry']

In [ ]:
# In operator
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
name=input("Enter your fav fruit:")

if name.lower() in thislist:
  print("Available")
else:
  print("Not Available")

Enter your fav fruit:Mango
Available

In [ ]:
#Calculating average and sum of all the elements in the list.
L=[23,45,33,33,67,45,23,78,33,99,12,33,45,6,7,78,78,23]
sum=0
for i in L:
  sum=sum+i
print(sum)
avg=sum/len(L)
print(avg)

761
42.27777777777778

In [ ]:
#Calculate sum of all the even numbers in a list.

In [ ]:
L = ["orange", "mango", "kiwi", "pineapple","mango", "banana"]
name=input("Enter the name that needs to be replaced:")
newname=input("Enter the new name:")

for  i in range(0,len(L)):
    if L[i]==name:   #comparing every element of a list with the name given by user
      L[i]=newname   #once found replacing every element with the new name


print(L)

Enter the name that needs to be replaced:mango
Enter the new name:Guava
['orange', 'Guava', 'kiwi', 'pineapple', 'Guava', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [ ]:
#concatenate list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

**Ignore**

In [ ]:
fruits = ["Apple", "Mango", "Banana", "Peach"]
for i in fruits:
  print(i)

Apple
Mango
Banana
Peach

In [ ]:
fruits = ["Apple", "Mango", "Banana", "Peach"]

# Constructs range object containing elements from 0 to 3
for i in range(len(fruits)):
  print("The list at index", i, "contains a", fruits[i])

The list at index 0 contains a Apple
The list at index 1 contains a Mango
The list at index 2 contains a Banana
The list at index 3 contains a Peach

# Ignore the part below:

In [ ]:
#List comprehnsion

fruits = ["Apple", "Mango", "Banana", "Peach"]
x=[(fruit + " juice") for fruit in fruits]
print(x)

['Apple juice', 'Mango juice', 'Banana juice', 'Peach juice']

In [ ]:
lst1 = [1, 2, 3, 4, 5]
lst2 = []

# Lambda function to square number
temp = lambda i:i**2

for i in lst1:

    # Add to lst2
    lst2.append(temp(i))

print(lst2)

[1, 4, 9, 16, 25]

In [ ]:
# We use lambda to iterate through the list and find the square of each value. To iterate through lst1, a for loop is used.
#Each integer is passed in a single iteration; the append() function saves it to lst2.

# We can make this code even more efficient using the map() function:

lst1 = [1, 2, 3, 4, 5]

lst1 = list(map(lambda v: v ** 2, lst1))

print(lst1)

In [ ]:
fruits = ["Apple", "Mango",  "Banana", "Peach"]

i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1