<a href="https://colab.research.google.com/github/jleacock2020/CourseraDataAnalystWork/blob/main/Python%20Essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [ ]:
##Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id")]
variable_id = "customer_id = 513"
variable_id

'customer_id = 513'

In [ ]:
#Run the following statement, why there is an error
id = id+1

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'int'

In [ ]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
var_id = int('123')
var_id_new = var_id+1
var_id_new

124

In [ ]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.

print('Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

In [ ]:
#Givin the following string variable, # Print the first element in the string
course="Python for Data Science"
course[:1]

'P'

In [ ]:
# Print the element on the 13th index in the string
course[13:14]

't'

In [ ]:
# Find the length of string
len(course)

23

In [ ]:
#Print the last element in the string [use negative index]
course[-1]

'e'

In [ ]:
#Take the slice on variable course with only index 11 to index 14
course[11:14]

'Dat'

In [ ]:
# Get every third element in the range from index 0 to index 20
course[0:20:3]

'Ph ra i'

In [ ]:
# Concatenate course string with ", AI & Development"
A = "Python "
B = "AI & Development"
C = A+B
C

'Python AI & Development'

In [ ]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science

course="Python for Data Science"
print(course.replace(" ","_"))

Python_for_Data_Science

In [ ]:
# Convert all the characters in string to upper case
course="Python for Data Science"
print(course.upper())

PYTHON FOR DATA SCIENCE