<a href="https://colab.research.google.com/github/jleacock2020/CourseraDataAnalystWork/blob/main/Python%20entry%20level%20introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OUTPUT STATEMENTS**

In [ ]:
# print("Hello World!")
# print(23+56+77)
# print("Hello World", 45+67, "Geetu")
print("Hello \n World")
print("World\t World")

Hello
World
World	orld

In [ ]:
#two paramenter of print statements - end,  sep

print("Hello", "World", 45+60,"Bye", sep="\n")

Hello\&&&World\&&&105\&&&Bye

In [ ]:
print("Hello", end=" ")
print("World")

Hello World

In [ ]:
#Givin the following string variable, # Print the first element in the string

**DATA TYPES AND VARIABLES**

In [ ]:
#Variable is a named storage location    - comment
name="Geetu"  #String
score=34  #integer / int
phone="9897234-#$#"  #String
score2="34"  #string
weight= 45.678 #float   /decimal/double
answer=True   #boolean  - True / False

#Rules for variable names
#1) It should not be a reserved keyword -
#2) It should not start with the number
#3) Variable name can not have spaces.
Full_Name= "Geetu Sodhi"
#4) Only underscore is allowed as a special charcater in your variable name.
#5) Variabes are ccase sensitive

In [ ]:
#type()
print(type(weight))
print(type(name))
print(type(answer))
print(type(score))
print(type(score2))

<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'str'>

**INPUT STATEMENTS**

In [ ]:
name=input("Enter your name:")
print("Welcome to my class", name)

Enter your name:Geetu
Welcome to my class Geetu

In [ ]:
num1=int(input("Enter number 1:"))
num2=int(input("Enter number 2:"))

print(num1+num2)

Enter number 1  34
Enter number 2  44
78

In [ ]:
num1=(input("Enter number 1:"))
num2=(input("Enter number 2:"))

print(str(num1)+float(num2))

Enter number 1:Geetu
Enter number 2:Geetu

ValueError: ignored

In [ ]:
num1="23"  #concatenation
num2="23"
print(num1+num2)

2323

**String  Class/ Functions**

In [ ]:
name="Tom Jackson"

print(name[0:3])
print(name[-11:-8])
print(name[-9::-1])


# print(name[::-1])
print(name[::-3])

Tom
Tom
moT
nkJo

In [ ]:
print(len(name))
print(max(name))
print(min(name))

11
s

In [ ]:
strw="Tom Jackson 56"
strw=strw.upper()
print(strw)
a= input("Enter the word you are searching for:")
a=a.upper()
print(a)

TOM JACKSON 56
Enter the word you are searching for:TOM
TOM

In [ ]:
print(a in strw)

True

In [ ]:
strw="Tom Tom Jackson 56"
a= input("Enter the word you are searching for:")
print(strw.endswith(a))
print(strw.startswith(a.capitalize()))
print(strw.rfind(a.capitalize()))  #index value of where it is starting from

Enter the word you are searching for:tom
False
True
4

In [ ]:
#ARITHMETIC OPERATIONS

# +, -, *, /
# // - INTEGER dIVISION
# % -  Modulus / Remainder operator
# ** - Raise to power - exponent

num1=int(input("Enter a number:"))
num2=int(input("Enter a number:"))
print("Addition", num1+num2)
print("Subtraction",num1-num2)
print("Multiplication",num1*num2)
print("Division",num1/num2)
print("Integer Division",num1//num2)
print("Remainder", num1%num2)
print("Exponent/Raise to power", num1**num2)

Enter a number:21
Enter a number:5
Addition 26
Subtraction 16
Multiplication 105
Division 4.2
Integer Division 4
Remainder 1
Exponent/Raise to power 4084101

In [ ]:
import math as m

print(m.sqrt(16))

4.0

In [ ]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.10.12 (main, Jun  7 2023, 12:45:35) [GCC 9.4.0]