<a href="https://colab.research.google.com/github/jleacock2020/CourseraDataAnalystWork/blob/main/Python%20Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATATYPES & VARIABLES**

In [ ]:
name="Geetu" #string
print(name)
print("Welcome to my class", name, "See your again")

Geetu
Welcome to my class Geetu See your again

In [ ]:
full_name='Geetu'
num1=45 #integer
num1="23" #string
num3=34.5 #float

**INPUT()**

In [ ]:
name=input("Enter your name:")
print(name)

Enter your name:Geetu
Geetu

In [ ]:
num1=int(input("Enter number:"))  #typecasting
num2=float(input("Enter number2:")) #expecting a decimal value
print(num1+num2)

Enter number23
Enter number223
46.0

**ARITHMETIC OPERATORS**

In [ ]:
# +, - , *, /
# % - remainder/modulus operator
# -//

a=20
b=3
print(a%b)

2

In [ ]:
a=345566
print(a%2)

if a%2==0:
  print("Even number")
else:
  print("Odd number")

0
Even number

In [ ]:
x=1/1
print(x)

1.0

In [ ]:
x=20/3
print(x)

6.666666666666667

In [ ]:
a=12345
print(a%10)
b=a//10
print(b)
print(b%10)

5
1234
4

**SELECTION STATEMENTS**

if <> :

In [ ]:
a=20
if a>5:
  print("hello")  #indentation
  print("Bye")
else:
  print("That was better")
print("See you again!")

hello
Bye
See you again!

**logical operators**  -** AND, OR ,NOT**

In [ ]:
#Take input of an age and score. If user is 18 and above and they have scored above 90, they will get scholarship.

age=int(input("Enter your age:"))
score=float(input("Enter your total score:"))
if age>=18 and score>90:
  print("Eligible")
else:
  print("Not eligible")

Enter your age:16
Enter your total score:100
Not eligible

In [ ]:
age=int(input("Enter your age:"))
score=float(input("Enter your total score:"))
if age>=18 or score>90:
  print("Eligible")
else:
  print("Not eligible")

Enter your age:16
Enter your total score:100
Not eligible

In [ ]:
a=5
b=3
print(not(a>b))

False

**Relational operators -  > , < ,>=, <=, <>, !=, ==**

In [ ]:
#take input of total score, print Grade A ( >=90) B, >=60 and <90, C, (>40-60) otherwise Fail

total=float(input("Enter your total score:"))
if total>=90:
  print("Grade A")
elif total>=60 and total<90:
  print("Grade B")
elif total>=40 and total<60:
  print("Grade C")
else:
  print("Fail")

Enter your total score:67.8
Grade B

**NESTED IF**

In [ ]:
a=30
b=5
if a>40:
  if b>10:
    print("Hello")
  else:
    print("Bye")
elif a>20:
  if b>10:
    print("See you again!")
  else:
    print("tata")
else:
  print("Nothing works")

tata

**LOOPS**

**WHILE AND FOR LOOP**

In [ ]:
#pRINT FIRST 10 NATURAL NUMBERS -- 1-10

x=1  #beg
while x<=10: #end
    print("Hello")
    x=x+1 #jump

#loop will execute 5 times

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
#Range(beg,end,jump)
for i in range(11):
  print(i, "Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10 Hello

In [ ]:
for i in range(20,0,-5):
  print("Hello")

Hello
Hello
Hello
Hello

In [ ]:
#Print all the even numbers between 20-30
for i in range(20,31):
  if i%2==0:
    print(i,"is an even number")
  else:
    print(i,"is an odd number")

20 is an even number
21 is an odd number
22 is an even number
23 is an odd number
24 is an even number
25 is an odd number
26 is an even number
27 is an odd number
28 is an even number
29 is an odd number
30 is an even number

In [ ]:
for i in range(20,31,2):
  print(i)

20
22
24
26
28
30

In [ ]:
#take input of beg and enging from a user and print all the even numbers between them.
num=int(input("Enter a number:"))
num2=int(input("Enter the ending number:"))
for i in range(num,num2,1):
  if i%2==0:
    print(i)

Enter a number:31
Enter the ending number:41
32
34
36
38
40

In [ ]:
#print all the  numbers which are multiples of both 5 and 7 between the range of 2000-2500

for i in range(2000,2501):
  if i%5==0 and i%7==0:
    print(i)

2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485

**FUNCTIONS-  BUILT IN AND USER DEFINED**

In [ ]:
#print(), input(), int(), float(), max(), min(), sum()

def area(a,b):
  ar=a*b
  return ar



print("Area of Rectangle")
x=int(input("Enter the length of a rectangle:"))
y=int(input("Enter the breadth of a rectabgle:"))
result=area(x,y)  #calling
print(result)
result=area(20,2)
print(result)

area(23,23)

Area of Rectangle
Enter the length of a rectangle:23
Enter the breadth of a rectabgle:2
46

TypeError: ignored