<a href="https://colab.research.google.com/github/jleacock2020/CourseraDataAnalystWork/blob/main/SQLMagic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To communicate with SQL Databases from within a JupyterLab notebook, we can use the SQL "magic" provided by the ipython-sql extension. "Magic" is JupyterLab's term for special commands that start with "%". Below, we'll use the load_ext magic to load the ipython-sql extension. In the lab environemnt provided in the course the ipython-sql extension is already installed and so is the ibm_db_sa driver.

In [ ]:
!pip install ipython-sql
!pip install sqlalchemy # database toolkit for python
import sqlalchemy
%load_ext sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.6)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (1.3.9)

In [ ]:
%%capture
%load_ext sql
%sql sqlite:///Moviess.db

In [ ]:
%sql select * from Movies

 * sqlite:///Moviess.db
Done.

[(901, 'Vertigo', 1958, 128, 'English', '1958-08-24', 'UK', 'Righty Sock', 9001, '8.4', '263575', None, None, None, None, None),
 (902, 'The Innocents', 1961, 100, 'English', '1962-02-19', 'SW', 'Jack Malvern', 9002, '7.9', '20207', None, None, None, None, None),
 (903, 'Lawrence of Arabia', 1962, 216, 'English', '1962-12-11', 'UK', 'Flagrant Baronessa', 9003, '8.3', '202778', None, None, None, None, None),
 (904, 'The Deer Hunter', 1978, 183, 'English', '1979-03-08', 'UK', 'Alec Shaw', 9005, '8.2', '484746', None, None, None, None, None),
 (905, 'Amadeus', 1984, 160, 'English', '1985-01-07', 'UK', 'Francois Truffaut', 9006, '7.3', None, None, None, None, None, None),
 (906, 'Blade Runner', 1982, 117, 'English', '1982-09-09', 'UK', 'Victor Woeltjen', 9007, '8.6', '779489', None, None, None, None, None),
 (907, 'Eyes Wide Shut', 1999, 159, 'English', None, 'UK', 'Simon Wright', 9008, None, '227235', None, None, None, None, None),
 (908, 'The Usual Suspects', 1995, 106, 'English', '1995-08-25', 'UK', 'Neal Wruck', 9009, '3', '195961', None, None, None, None, None),
 (909, 'Chinatown', 1974, 130, 'English', '1974-08-09', 'UK', 'Paul Monks', 9010, '8.1', '203875', None, None, None, None, None),
 (910, 'Boogie Nights', 1997, 155, 'English', '1998-02-16', 'UK', 'Mike Salvati', 9011, '8.4', None, None, None, None, None, None),
 (911, 'Annie Hall', 1977, 93, 'English', '1977-04-20', 'USA', 'Armond White', 9013, '7', '862618', None, None, None, None, None),
 (912, 'Princess Mononoke', 1997, 134, 'Japanese', '2001-10-19', 'UK', 'Wesley S. Walker', 9001, '7.7', '830095', None, None, None, None, None),
 (913, 'The Shawshank Redemption', 1994, 142, 'English', '1995-02-17', 'UK', 'Sasha Goldshtein', 9014, '4', '642132', None, None, None, None, None),
 (914, 'American Beauty', 1999, 122, 'English', None, 'UK', 'Josh Cates', 9015, '7.7', '81328', None, None, None, None, None),
 (915, 'Titanic', 1997, 194, 'English', '1998-01-23', 'UK', 'Krug Stillo', 9016, None, '580301', None, None, None, None, None),
 (916, 'Good Will Hunting', 1997, 126, 'English', '1998-06-03', 'UK', 'Scott LeBrun', 9017, '8.1', '609451', None, None, None, None, None),
 (917, 'Deliverance', 1972, 109, 'English', '1982-10-05', 'UK', 'Hannah Steele', 9018, '8', '667758', None, None, None, None, None),
 (918, 'Trainspotting', 1996, 94, 'English', '1996-02-23', 'UK', 'Vincent Cadena', 9019, '8.4', '511613', None, None, None, None, None),
 (919, 'The Prestige', 2006, 130, 'English', '2006-11-10', 'UK', 'Brandt Sponseller', 9020, '6.7', '13091', None, None, None, None, None),
 (920, 'Donnie Darko', 2001, 113, 'English', None, 'UK', 'Richard Adams', 9021, '7.0', '544452', None, None, None, None, None),
 (921, 'Slumdog Millionaire', 2008, 120, 'English', '2009-01-09', 'UK', 'Andre Bazin', 9022, '7.0', '557054', None, None, None, None, None),
 (922, 'Aliens', 1986, 137, 'English', '1986-08-29', 'UK', 'Judith Christ', 9023, '7.0', '569657', None, None, None, None, None),
 (923, 'Beyond the Sea', 2004, 118, 'English', '2004-11-26', 'UK', 'Peter Travers', 9024, '6.9', '582260', None, None, None, None, None),
 (924, 'Avatar', 2009, 162, 'English', '2009-12-17', 'UK', 'Roger Ebert', 9025, '6.9', '594862', None, None, None, None, None),
 (926, 'Seven Samurai', 1954, 207, 'Japanese', '1954-04-26', 'JP', 'Pauline Kael', 9026, '6.9', '607465', None, None, None, None, None),
 (927, 'Spirited Away', 2001, 125, 'Japanese', '2003-09-12', 'UK', 'Leonard Martin', 9027, '6.8', '620067', None, None, None, None, None),
 (928, 'Back to the Future', 1985, 116, 'English', '1985-12-04', 'UK', 'Andrew Sarris', 9028, '6.8', '632670', None, None, None, None, None),
 (925, 'Braveheart', 1995, 178, 'English', '1995-09-08', 'UK', 'Gene Shalit', 9029, '6.8', '645273', None, None, None, None, None)]

For convenience, we can use %%sql (two %'s instead of one) at the top of a cell to indicate we want the entire cell to be treated as SQL. Let's use this to create a table and fill it with some test data for experimenting.

In [ ]:
%%sql
SELECT COUNT(*) AS NUMBER_OF_ENGLISHMOVIES
FROM
Movies  WHERE "Mov_lang" = 'English' ;

 * sqlite:///Moviess.db
Done.
(sqlite3.OperationalError) near "#comment": syntax error
[SQL: #comment]
(Background on this error at: http://sqlalche.me/e/e3q8)